
  .cc-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cc-heading>h1{
    margin: 40px 0 15px;
  }

  .card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 25px 0;
   
  }
  
  .card-section>div {
    text-align: center;
    position: relative;
    width: 155px;
    height: 100px;
    margin: auto;
  }
  
  .card-section img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    position: absolute; /* Add absolute positioning to the images */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    min-width: 80px; /* Adjust this value as needed */
  min-height: 50px;
  }
  
  
  .close-button{
    color: #fff;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 100%;
    line-height: 10px;
    font-weight: 800;
    position: absolute;
    background: #006fcf;
    right: -15px;
    top: -15px;
  }


  .highlight{
    cursor:pointer;
  }

  .highlighted {
    background-color: #e5f0fa /* Change the background color when highlighted */
  }
  /* Add more styles for your comparison view as needed */
  
  .addCard{
    display: flex;
    justify-content: center;
  }

  .addCard>span{
    margin-left: 10px;
  }

 .compare-btn{
  padding: 10px 20px;
  background-color: #006fcf;
  color: #fff;
  border-radius: 6px;
 }

 .cc-container>div{
  display:flex;
 }

 .cc-container>div>h2{
  padding: 30px;
  margin-right: 30px;
 }

 .cc-cardcontainer{
  display: none;
 }

 .compare-cards {
  table-layout: fixed;
 }
 .compare-cards tr:nth-child(even) {
  background-color: #f7f8f9;
}

.compare-cards th,
.compare-cards td {
  padding: 15px;
}

.compare-cards td {
  text-align: center;
}
.compare-cards .fa-check {
  width: 28px;
  height: 28px;
  color: #006fcf;
}

.compare-cards .fa-xmark {
  width: 28px;
  height: 28px;
  color: #b42c01;
}